*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*최대 6까지 가능*/
    grid-auto-rows: 100px;
}
/*박스*/
.poto{
    width: 200px;
    height: 200px;
    perspective: none;
    transform-style: preserve-3d;
    transition: 3s linear;
}
.poto div {
    width: 100%;
    height: 100%;
    position: absolute;
}
.poto:hover{
    transform: rotateY(360deg);
}
.poto .S2{
    transform: rotateY(90deg) translateZ(-100px) translateX(100px);
}
.poto .S3{
    transform: rotateY(180deg) translateZ(200px);
}
.poto .S4{
    transform: rotateY(270deg) translateZ(-100px) translateX(-100px);
}
/*박스끝*/
/*SVG*/
svg {
    animation: fill 0.5s linear forwards 3.4s;
}
@keyframes fill {
    from {
        fill: transparent;
    }
}
svg path {
    stroke: #066cfa;
    stroke-width: 5;
    animation: stroke 1s linear forwards;
}
@keyframes stroke {
    to {
        stroke-dashoffset: 0;
    }
}
svg path:nth-child(1) {
    stroke-dasharray: 111px;
    stroke-dashoffset: 111px;
}
svg path:nth-child(2) {
    stroke-dasharray: 131px;
    stroke-dashoffset: 131px;
    animation-delay: 0.4s;
}
svg path:nth-child(3) {
    stroke-dasharray: 136px;
    stroke-dashoffset: 136px;
    animation-delay: 0.8s;
}
svg path:nth-child(4) {
    stroke-dasharray: 145px;
    stroke-dashoffset: 145px;
    animation-delay: 1.2s;
}
svg path:nth-child(5) {
    stroke-dasharray: 132px;
    stroke-dashoffset: 132px;
    animation-delay: 1.6s;
}
svg path:nth-child(6) {
    stroke-dasharray: 152px;
    stroke-dashoffset: 152px;
    animation-delay: 2s;
}
svg path:nth-child(7) {
    stroke-dasharray: 152px;
    stroke-dashoffset: 152px;
    animation-delay: 2.4s;
}
/*SVG끝*/
.header {
    /*넓이(column)시작지점*/
    grid-column-start: 1;
    /*넓이(column)종료지점*/
    grid-column-end: 6;
    /*길이(row) 시작지점*/
    grid-row-start: 1;
    /*길이(row) 종료지점*/
    grid-row-end: 2;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
}
.aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 9;
    background-color: gainsboro;
    padding: 20px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 8;
    margin: 20px;
}
.footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: whitesmoke;
    padding: 20px;
}

/*!*헤더부분*!*/
.box {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    margin:  auto;
    display: block;
}
/*어사이드*/
/*!*메인부분*!*/
@media all and (max-width: 640px) {
    .header{
        grid-column-start: 1;
        grid-column-end: 6;
        /*길이(row) 시작지점*/
        grid-row-start: 1;
        /*길이(row) 종료지점*/
        grid-row-end: 2;
        background-color: whitesmoke;
   }
    .aside{
        grid-column-start: 1;
        grid-column-end: 6;
        /*길이(row) 시작지점*/
        grid-row-start: 2;
        /*길이(row) 종료지점*/
        grid-row-end: 5;
        background-color: gainsboro;
    }
    .main {
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        /*길이(row) 종료지점*/
        grid-row-end: 11;
    }
    .footer{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 11;
        /*길이(row) 종료지점*/
        grid-row-end: 12;
        background-color: whitesmoke;
    }
}